header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
nav a {
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 5px;
    margin-left: 15px;
    transition: all 0.4s linear;
}
nav a:hover {
    border-bottom: 2px solid white;
    background-color: aliceblue;
    color: black;
}