*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Ubuntu", sans-serif;
}
body{
    background-color: whitesmoke;
}

header{
    display: flex;
    background-color: rgb(244, 241, 241);
    backdrop-filter: blur(5%);
    justify-content: space-between;
    padding: 1%;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}
.logo{
    font-size: 30px;
}
.logo span{
    color: rgb(34, 34, 219);
    text-shadow: 2px 1px 3px;
    font-weight: 100px;
}

.links{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.links a{
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}
.links a:hover{
    color: rgb(0, 41, 244);
}

.aboutme{
    height: 35vh;
    display: flex;
    gap: 12%;
}
.title{
    padding: 0 8%;
    max-width: 50%;
    max-height: 60%;
    font-size: 20px;
}
.title h1{
    font-size: 3rem;
}
.image img{
    width: 70%;
    height: 100%;

}
.projects{
    height: 35vh;
    padding: 1% 2%;
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(219, 216, 213, 0.3);
    border-radius: 10%;
}
.protitle{
    height: 50px;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}
.indproject{
    justify-content: space-between;
    background-color: aquamarine;
    height: 50%;
    padding: 2%;

}
#inventary{
    text-align: center;
    
    margin: 0 80% 0 0;
    background-color: cadetblue;
}